{% load url from future %}
        <div class="box-header">
          <span class="title">{{ form.instance.title }} [id = {{ form.instance.pk }}]</span>
	  <ul class="nav nav-tabs nav-tabs-right">
            <li{% if tab == 'edit'%} class="active"{% endif %}><a href="{% url 'feedback:admin:edit-pattern' form.instance.pk %}"><i class="icon-file-alt"></i> <span>{% trans "Edit email pattern" %}</span></a></li>
	    {% for backend in backends %}
	    <li{% if tab == backend.1 %} class="active"{% endif %}><a href="{% url 'feedback:admin:edit-pattern' form.instance.pk backend.1 %}"><i class="icon-file-alt"></i> <span>{{ backend.0 }}</span></a></li>
	    {% endfor %}
	    <li{% if tab == 'media' %} class="active"{% endif %}><a href="{% url 'feedback:admin:edit-pattern-media' form.instance.pk %}" ><i class="icon-camera"></i> <span>{% trans "Attachments" %}</span></a></li>
	  </ul>
        </div>
