{% extends current_admin_base %}{% load spicy_admin sk navigator %}{% load url from future %}

{% block title %}{% trans "Edit" %} {{ instance.title }}{% endblock %}
{% block status_title %}<i class="icon-pencil"></i> {{ instance.title }}{% endblock status_title %}
{% block status_subtitle %}{% trans "Add to feedback form:" %} &lt;input type="hidden" name="pattern" value="{{ instance.slug }}"&gt;{% endblock %}
{% block status_stats %}
<a class="pull-right" href="{% url 'feedback:admin:view-pattern' instance.pk %}" target="_blank"><i class="icon-eye-open icon-2x"></i></a>
{% endblock status_stats %}

{% block content %}
<div class="container-fluid hpadded">
  <div class="row-fluid">
    <div class="span12">
      <div class="box">
	{% include "spicy.feedback/admin/parts/pattern_tabs.html" %}
        <div class="box-content">
          <form id="edit_{{ app.name }}" class="form-horizontal fill-up validatable" method="post" action="." autocomplete="off"
		enctype="multipart/form-data">{% csrf_token %}
	    {% if backend.form_template %}
	    {% include backend.form_template %}
	    {% else %}
            <div class="row-fluid">
              <ul class="padded separate-sections">
		{{ form.as_ul }}
	      </ul>           
            </div>
	    {% endif %}
            
	    <div class="form-actions">
	      {% captureas delete_url %}{{ app.name }}:admin:delete{% endcaptureas %}
	      <a class="btn btn-red" href="{% url delete_url instance.pk %}">{% trans "Delete" %}</a>

	      <div class="pull-right">
		<button type="submit" class="btn btn-blue" name="save">{% trans "Save changes" %}</button>
	      </div>
            </div>

          </form>
        </div>
      </div>

		{% if '/rest/' in request.path %}
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h5>Rest API settings</h5>
          <div class="note">
            Раздел для доступа к PEST API (генерация лидов).

            <div class="row-fluid">
                <ul class="padded separate-sections">
                    <li>Пример curl запроса к API:  </li>
                    <p>curl -X POST {url_to_api} -H "Content-Type: application/json" -H 'Authorization: Token {secret_token_key}' -d '{"full_name": "full name", "email": "email@example.com", "phone": "89990111100", "title": "company title", "lead_source": "lead source", "description": "description"}'</p>
                    <li>Для отправки запроса к API необходимо</li>
                    <p>1) Назвать шаблон обратной связи 'feedback_create_lead'</p>
                    <p>2) Указать URL к API, полученный от администратора CRM</p>
                    <p>3) Добавить к шаблону обратной связи токен, полученный от администратора CRM</p>
                    <p>4) Для отправки данных использовать форму с input'ами: full_name, email, phone, title, lead_source, description и скрытый со значением 'feedback_create_lead' </p>

                </ul>
            </div>
          </div>
        </div>
		{% endif %}

    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}{{ form.media }}{% endblock %}
