{% extends current_admin_base %}{% load spicy_admin sk navigator %}{% load url from future %}

{% block title %}{% trans "Edit" %} {{ form.name }}{% endblock %}
{% block status_title %}<i class="icon-pencil"></i> {{ instance.name }}{% endblock status_title %}
{% block status_stats %}
<a class="pull-right" href="{{ instance.get_absolute_url }}" target="_blank"><i class="icon-eye-open icon-2x"></i></a>
{% endblock status_stats %}

{% block content %}
<div class="container-fluid hpadded">
  <div class="row-fluid">
    <div class="span12">
      <div class="box">
{% include "spicy.feedback/admin/parts/feedback_tabs.html" %}	
        <div class="box-content">
          <form name="edit_{{ app.name }}" class="form-horizontal fill-up validatable" method="post" action="." autocomplete="off"
		enctype="multipart/form-data">{% csrf_token %}

            <div class="row-fluid">
	      <div class="span12">
		{% if fields %}
		<table>
		  <tbody>
		    {% for field in fields %}
		    {% url "calc:admin:feedback-field" instance.pk field as field_url %}
		    {% generic_ssi field_url %}
		    {% endfor %}
		  </tbody>
		</table>
		{% else %} %}
		<h3>
		  {% trans "No calculators attached" %}
		</h3>
		{% endif %}
	      </div>
	    </div>

            <div class="row-fluid">
              <ul class="padded separate-sections">
		{{ form.as_ul }}
	      </ul>           
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}{{ form.media }}{% endblock %}
