{% load pagination thumbnails spicy_admin %}
{% load url from future %}
<style>
.options input[type="text"] { width: 137px; }
#feedback_form textarea{ height: 118px }

</style>

<form id="feedback_form">
<div class="hpadded">
  <input type="hidden" name="fields_cnt" value="0"/>
  <div class="row-fluid ">
    <div class="span6">
      <ul class="padded separate-sections">
	{% formfield "" form "title" "li-text" %}
	{% formfield "" form "button_text" "li-text" %}
	<li class="input ">
	  <label for="id_field">{% trans "Add field" %}</label>
	  <select name="field" class="uniform field-add">{% for field in fields %}<option value="{{ field.name }}">{{ field.label }}</option>{% endfor %}</select>
	</li>
	<li class="">
	  <a class="btn btn-green" href="#" id="add-button">{% trans "Add" %}</a>
	</li>
      </ul>
    </div>
    <div class="span6">
      <ul class="padded separate-sections">
	{% formfield "" form "pattern" "li-select" %}
	{% formfield ""  form "js_code" "li-textarea" %}
      </ul>
    </div>
  </div>
</div>
<div class="padded text-center">
  <a id="submit-button" class="btn btn-green" href="#">{% trans "Insert form" %}</a>
</div>
</form>

<script>
function changeFieldTemplate(field){
  var field = field.length?field:$(this)
  var field_name = field.attr('name')
  var field_type = field.val()
  var idx = field_name.substring(7, field_name.length - 11)
  console.log(idx)
  if (field_type == '0' || field_type == '1' || field_type == '2'){
    $("#data-" + idx).hide()
  }
  else {
    $("#data-" + idx).show()
  }
}
var current_idx = 0

function subIdxClicked(){
  var idx = $(this).attr('data-idx')
  var sub_idx = $(this).attr('data-sub-idx')
  var row = $(this).parent().parent().parent().parent()
  var next_sub_idx = parseInt(sub_idx) + 1
  row.find('.fields_' + idx + '_keys').append("<li><input type='text' name='fields_" + idx + "_" + next_sub_idx + "-key'></li>")
  row.find('.fields_' + idx + '_values').append("<li><input type='text' name='fields_" + idx + "_" + next_sub_idx + "-value'></li>")
  row.find('.fields_' + idx + '_buttons').append("<li><a href='#' id='fields_" + idx + "_button_" + next_sub_idx + "' data-idx='" + idx + "' data-sub-idx='" + next_sub_idx + "' class='btn btn-green'>{% trans 'Add more' %}</a></li>")
  $(this).replaceWith("<a href='#' id='fields_" + idx + "_button_" + sub_idx + "' data-idx='" + idx + "' data-sub-idx='" + sub_idx + "' class='btn btn-red'><i class='icon-trash'></i></a>")
  $("#fields_" + idx + "_button_" + next_sub_idx).click(subIdxClicked)
  var counter = $("input[name='fields_" + idx + "-options_cnt']")
  counter.val(parseInt(counter.val()) + 1)
}

function addField(){
  var select = $('.field-add')
  var option = select.find(':selected')
  if (option.attr('disabled') == 'disabled') return

  if (option.length){
    $('#feedback_form .row-fluid:last').parent().append(
      "<div class='row-fluid'>" +
        "<div class='span6'>" +
          "<ul class='hpadded separate-sections'>" +
            "<li>" +
              "<label>{% trans 'Field name for' %} \"" + option.text() + "\"</label>" +
              "<input type='hidden' name='fields_" + current_idx + "-field' value='" + select.val() + "'/>" +
              "<input type='text' name='fields_" + current_idx + "-title_display' value='" + option.text() + "'>" +
            "</li>" +
            "<li>" +
              "<label>{% trans 'Field type' %}</label>" +
              "<select name='fields_" + current_idx + "-field_type'>" +
                "{% for option in field_types %}<option value='{{ option.0 }}'{% if forloop.first %} selected='selected'{% endif %}>{{ option.1 }}</option>{% endfor %}" +
              "</select>" +
            "</li>" +
          "</ul>" +
        "</div>" +
        "<div class='span6'>" +
          "<ul class='hpadded separate-sections'>" +
            "<li>" +
              "<label>{% trans 'Help text' %}</label>" +
              "<textarea name='fields_" + current_idx + "-help_text' placeholder='{% trans 'Optional description displayed to users' %}'></textarea>" +
            "</li>" +
          "</ul>" +
        "</div>" +
      "</div>" +
      "<div class='row-fluid options' id='data-" + current_idx + "' style='dislpay: none'>" +
        "<input type='hidden' name='fields_" + current_idx + "-options_cnt' value='1'/>" +
        "<div class='span4'>" +
          "<ul class='hpadded separate-sections fields_" + current_idx + "_keys'>" +
            "<li><label>{% trans 'Key' %}</label><input type='text' name='fields_" + current_idx + "_0-key'></li>" +
          "</ul>" +
        "</div>" +
        "<div class='span4'>" +
          "<ul class='hpadded separate-sections fields_" + current_idx + "_values'>" +
            "<li><label>{% trans 'Value' %}</label><input type='text' name='fields_" + current_idx + "_0-value'></li>" +
          "</ul>" +
        "</div>" +
        "<div class='span3'>" +
          "<ul class='hpadded separate-sections fields_" + current_idx + "_buttons'>" +
            "<li>" +
              "<label>{% trans 'Action' %}</label>" +
              "<a href='#' id='fields_" + current_idx + "_button_0' data-idx='" + current_idx + "' data-sub-idx='0' class='btn btn-green'>{% trans 'Add more' %}</a></li>" +
          "</ul>" +
        "</div>" +
      "</div>")
    changeFieldTemplate($("#feedback_form select[name='fields_" + current_idx + "-field_type']"))
    $("#feedback_form select[name='fields_" + current_idx + "-field_type']").click(changeFieldTemplate)
    option.attr("disabled", "disabled")
    $("#feedback_form #fields_" + current_idx + "_button_0").click(subIdxClicked)
    current_idx += 1
    var fields_cnt = $("input[name='fields_cnt']")
    fields_cnt.val(parseInt(fields_cnt.val()) + 1)
  }
}

function submitForm(){
  var form_data = $('#feedback_form').serialize()
  console.log(form_data)
  var url = "{% url 'feedback:admin:create-provider' consumer_type consumer_id %}"
  $.post(
    url, form_data, function(data){
      if (data.status == 'ok'){
        $('#{{ field_name }}').redactor('insertText', '[inc service="feedback" provider_id="' + data.provider_id + '"]')
        $('#{{ field_name }}').redactor('modalClose')
      }
    })
  return false
}

$(function(){
  $('#add-button').click(addField)
  $('#submit-button').click(submitForm)
})
</script>
